#Sidebar {
    box-shadow: 0px 1px 11px 3px rgba(0,0,0,0.1);
    padding: 10px 20px;
}

#Sidebar .Sidebar__Header {
    margin-bottom: 40px;
}

#Sidebar .Sidebar__Header h1 {
    color: #363436;
    margin-top: 0;
    font-size: 42px;
    margin-bottom: 0.5rem;
}

#Sidebar .Sidebar__Header h3 {
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 1rem;
    font-size: 28px;
    color: #363436;
}

#Sidebar .Sidebar__Header p {
    margin: 0;
}

#Sidebar .Sidebar__Header hr {
    border-style: solid;
    border-color: rgba(0,0,0, 0.2);
}

.Stick {
    position: sticky;
    top: 15px;
}