body {
    font-family: "Montserrat", sans-serif;
    margin: 0px;
}

#Card {
    height: 300px;
    width: 280px;
    box-shadow: 1px 11px 18px 3px rgba(0,0,0, 0.2);
    border-radius: 8px;
    border-top-left-radius: 50px;
    position: relative;
    margin: 20px;
    display: flex;
    padding-left: 30px;
    padding-right: 15px;
    padding-bottom: 30px;
}

#Card.github {
    background: #7db9e8; 
    background: -moz-linear-gradient(-45deg, #7db9e8 0%, #2989d8 50%, #207cca 61%, #207cca 61%, #1e5799 100%);
    background: -webkit-linear-gradient(-45deg, #7db9e8 0%,#2989d8 50%,#207cca 61%,#207cca 61%,#1e5799 100%);
    background: linear-gradient(135deg, #7db9e8 0%,#2989d8 50%,#207cca 61%,#207cca 61%,#1e5799 100%);
    /* background: #ac48ff;
    background: -moz-linear-gradient(-45deg, #ac48ff 0%, #502bfe 100%);
    background: -webkit-linear-gradient(-45deg, #ac48ff 0%,#502bfe 100%);
    background: linear-gradient(135deg, #ac48ff 0%,#502bfe 100%); */
    /* background: #05ce88;
    background: -moz-linear-gradient(-45deg, #05ce88 0%, #04d60a 100%);
    background: -webkit-linear-gradient(-45deg, #05ce88 0%,#04d60a 100%);
    background: linear-gradient(135deg, #05ce88 0%,#04d60a 100%); */
}

#Card.stack {
    background: #fc4c6c;
    background: -moz-linear-gradient(-45deg, #fc4c6c 0%, #f97c16 100%);
    background: -webkit-linear-gradient(-45deg, #fc4c6c 0%,#f97c16 100%);
    background: linear-gradient(135deg, #fc4c6c 0%,#f97c16 100%);
}

#Card .btn {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: #fff;
    z-index: 5;
    border-top-left-radius: 18px;
    transition: box-shadow 400ms ease;
    position: absolute;
    bottom: -15px;
    right: 30px;
}

#Card .btn:hover {
    box-shadow: 1px 0px 10px 2px rgba(0,0,0, 0.15);
}

#Card h3 {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin: 0px;
}

#Card h1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: 0;
    margin-top: auto;
}

.Card__Owner {
    position: absolute;
    display: flex;
    top: 18%;
    right: -20px;
}

.Card__Owner img {
    height: 65px;
    width: 65px;
    margin-right: 15px;
    border-radius: 50%;
}

.Card__Owner-Name {
    background: #fff;
    width: 150px;
    height: 65px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 0px 10px 2px rgba(0,0,0, 0.15);
}

.Card__Owner-Name span {
    width: 80%;
    font-weight: 500;
    color: #2D2C2D;
    text-transform: capitalize;
    font-size: 14px;
    padding-right: 25px;
    text-align: right;
}