#Dashboard {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0px 15px;
}

@media (max-width: 991px){
    #Dashboard {
        justify-content: center;
    }
}