#Form {
    padding: 15px;
}

#Form p {
    font-size: 15px;
}

.Form__Body {
    display: flex;;
    flex-flow: column nowrap;
}

.Form__Body input {
    height: 33px;
    padding: 0;
    outline: none;
    font-size: 14px;
    margin-bottom: 5px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0, 0.2);
}

.Form__Body button {
    height: 35px;
    margin-top: 15px;
    background: blue;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 6px;
    font-size: 15px;
    box-shadow: none;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}